.notecreator{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.textarea{
    width: 100%;
    height: 500px;
    padding: 12px 12px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}
 .desSolution{
    width: 370px;
    height: 200px;
}


.input-group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px 10px 0;
}

.input-group input{
    height: 28px;
    width: 370px;
}

.input-group select{
    height: 28px;
    width: 378px;
}

