<h1>Creator Notes</h1>

<!-- <input type="text" [(ngModel)]="searchText" placeholder="Buscar.."> -->
<div class="notecreator">
  <div>
    <form (ngSubmit)="onRegister()" #notesForm="ngForm">
      <div class="input-group">
        <label>Agrupador del Error: </label>
        <input
          type="text"
          [(ngModel)]="searchText"
          placeholder="Buscar.."
          name="agrupador"
        />

        <mat-select
          [(ngModel)]="selectedOption"
          name="agrupador1"
          [(ngModel)]="register.agrupador_error"
        >
          <mat-option
            *ngFor="let option of filteredOptions"
            [value]="option"
            placeholder="Buscar.."
            id="agrupador3"
          >
            {{ option }}
          </mat-option>
        </mat-select>
      </div>

      <div class="input-group">
        <label>Causa del Error: </label>
        <select name="select" required [(ngModel)]="register.causa_error">
          <option value="0">Seleccione una opcion...</option>
          <option
            value="1. Capacitación - Tiene la opción pero no sabe cómo hacerlo"
          >
            1. Capacitación - Tiene la opción pero no sabe cómo hacerlo
          </option>
          <option value="2. Capacitación - Desconoce el proceso de Negocio">
            2. Capacitación - Desconoce el proceso de Negocio
          </option>
          <option value="3. Capacitación - Desconoce el uso del aplicativo">
            3. Capacitación - Desconoce el uso del aplicativo
          </option>
          <option
            value="4. Mejoras - Redefinición de Políticas y/o Procesos de negocio"
          >
            4. Mejoras - Redefinición de Políticas y/o Procesos de negocio
          </option>
          <option
            value="5. Mejoras - Se requiere una nueva funcionalidad (El negocio no tiene como ejecutar la operación)"
          >
            5. Mejoras - Se requiere una nueva funcionalidad (El negocio no
            tiene como ejecutar la operación)
          </option>
          <option value="6. Errores de la aplicación ">
            6. Errores de la aplicación 
          </option>
          <option
            value="7. Perfilacion / Accesos - El usuario no cuenta con los permisos"
          >
            7. Perfilacion / Accesos - El usuario no cuenta con los permisos
          </option>
        </select>
      </div>

      <div class="input-group">
        <label>Proceso del error</label>
        <select name="proceso_error" [(ngModel)]="register.proceso_error">
          <option value="1. Expedicion">1. Expedicion</option>
<option value="2. Renovacion">2. Renovacion</option>
<option value="3. Reclamacion">3. Reclamacion</option>
<option value="4.Cotizacion">4.Cotizacion</option>
<option value="5. Modificacion">5. Modificacion</option>
<option value="6. Reaseguro">6. Reaseguro</option>
<option value="7. Impresión">7. Impresión</option>
<option value="9. Asesoria y Venta">9. Asesoria y Venta</option>
<option value="11. Cancelaciones">11. Cancelaciones</option>
<option value="12. Configuracion de Producto">12. Configuracion de Producto</option>
<option value="13. Emision de Recibos">13. Emision de Recibos</option>
<option value="14. Recaudo">14. Recaudo</option>
<option value="15. Cambios de Comisiones">15. Cambios de Comisiones</option>
<option value="16. Cambios de Deducible">16. Cambios de Deducible</option>
<option value="17. Estrategias Comerciales">17. Estrategias Comerciales</option>
<option value="18. Anulacion de Recibos">18. Anulacion de Recibos</option>
<option value="19. Cobros">19. Cobros</option>
<option value="20. Recibo manual">20. Recibo manual</option>
<option value="21. Sacar de bolsa">21. Sacar de bolsa</option>
<option value="22. Pago siniestros ">22. Pago siniestros </option>
<option value="23. P8 (Documentos)">23. P8 (Documentos)</option>
<option value="24. ATR">24. ATR</option>
<option value="25. Case Tracking (Procesos Judiciales)">25. Case Tracking (Procesos Judiciales)</option>
<option value="26. Libreta de Contactos(Contact Manager)">26. Libreta de Contactos(Contact Manager)</option>
<option value="27. Consulta de póliza">27. Consulta de póliza</option>
<option value="28. Reserva sinietros">28. Reserva sinietros</option>
<option value="29. Recupero siniestros">29. Recupero siniestros</option>
<option value="30. Desplazamiento">30. Desplazamiento</option>
<option value="31. Cierre">31. Cierre</option>
<option value="32. Auditoria">32. Auditoria</option>
<option value="33. Migración">33. Migración</option>
<option value="34. Rehabilitación">34. Rehabilitación</option>

        </select>
      </div>

      <div class="input-group">
        <label> HU Raizal / Mejora</label>
        <input
          type="text"
          id="raizal"
          name="raizal"
          required
          [(ngModel)]="register.raizal"
        />
      </div>

      <div class="input-group">
        <label> Estado Raizal</label>
        <select name="estado_raizal" [(ngModel)]="register.estado_raizal">
          <option value="0">seleccione una opcion</option>
          <option value="1. Backlog">1. Backlog</option>
          <option value="2. Cerrado">2. Cerrado</option>
          <option value="3. Certificado">3. Certificado</option>
          <option value="4. Descartado">4. Descartado</option>
        </select>
      </div>

      <div class="input-group">
        <label>Responsable Solucion:</label>
        <select name="resposabel" [(ngModel)]="register.responsable">
          <option value="0">seleccione una opcion</option>
          <option value="1. TI">1. TI</option>
          <option value="2. Negocio">2. Negocio</option>
          <option value="3. TI/Negocio">3. TI/Negocio</option>
        </select>
      </div>
      <div class="input-group">
        <label> Diagnostico: </label>
        <input
          type="text"
          required
          name="diagnostico"
          [(ngModel)]="register.diagnostico"
        />
      </div>
      <div class="input-group">
        <label> Accion Ejecutada </label>
        <input type="text" required name="accc" [(ngModel)]="register.accion" />
      </div>
      <div class="input-group">
        <label> Descripcion de Solucion </label>
        <textarea name="descripcion" [(ngModel)]="register.descripsion">
        </textarea>
      </div>
      <div class="input-group">
        <label>Confirmar operatividad del usuario Afectado</label>
        <select name="confirmacion" [(ngModel)]="register.confirmacion">
          <option value="SI">SI</option>
          <option value="No">No</option>
        </select>
      </div>
      <div class="input-group">
        <label>OC Acceso a PDN- (PAM)</label>
        <input type="text" required [(ngModel)]="register.oc" name="oc" />
      </div>

      <button [disabled]="notesForm.invalid" type="submit">crear</button>
    </form>
  </div>
  <div>
    <div>
      <textarea role="textbox" disabled class="textarea">
{{ "Agrupador del Error: " + register.agrupador_error }}
{{ "Causa del Error: " + register.causa_error }}
{{ "Proceso del Error: " + register.proceso_error }}
{{ "HU Raizal / Mejora: " + register.raizal }}
{{ "Estado Raizal: " + register.estado_raizal }}
{{ "Responsable Solucion: " + register.responsable }}
{{ "Diagnostico: " + register.diagnostico }}
{{ "Accion Ejecutada: " + register.accion }}
{{ "Descripcion de Solucion: " + register.descripsion }}
{{ "Confirmar operatividad del usuario Afectado: " + register.confirmacion}}    
{{ "OC Acceso a PDN- (PAM): " + register.oc }}
    </textarea>
    </div>
  </div>
</div>
